<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>TZ应用平台</title>
    <script>
      window.addEventListener('error', function(e) {
        console.error(e);
      });
    </script>
    <link rel="shortcut icon" href="./assets/favicon.ico">
</head>
<h1>you的公共header</h1>