<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>个人分享平台</title>
    <script>
      window.addEventListener('error', function(e) {
        console.error(e);
      });
    </script>
    <link rel="shortcut icon" href="./assets/favicon.ico">
    <link type="text/css" rel="stylesheet" href="./assets/css/index.css">
</head>
<h1 class="text-center">个人前端学习和分享</h1>